#root {
  	max-width: 1280px;
  	margin: 0 auto;
  	padding: 2rem;
  	text-align: center;
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  // transition: 0.3s ease-in-out all;
}