@use '../../styles/mixins.scss';

header {
    padding-bottom: 20px;
}

h1 {
    font-size: 4em;
}

.bottom-line {
    margin-left: -30%;
    width: 160%;
    height: 3px;
    background: linear-gradient(to right, transparent, #cccccc, transparent);
}

.about-container {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;

    .about-section {
        font-size: 1em;
        width: 35%;
        padding: 10px;
    }

    .gojo-image {
        height: 240px;
        filter: brightness(130%);
    }

    ul {
        font-size: 1.1em;
        text-align: left;

        li {
            padding-bottom: 7px;
        }
    }
}

@media (max-width: 350px) {
    .about-container {
        flex-direction: column;

        .about-section {
            width: 100%;
        }
    }
}